/* Reset b치sico */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

/* Scrolling */
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 170px;
}

/* Vari치veis globais */
/* Reset b치sico */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

/* Para scooling */
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 170px; /* altura da navbar */
}

/* Vari치veis globais */
:root {
  --font-title: "Bauen", sans-serif;
  --font-text: "TT Rationalist", sans-serif;
}

/* Base */
body {
  background-color: #000000;
  color: rgb(255, 252, 252);
  font-family: var(--font-text);
}

/* Tipografia */
h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
}

p,
span,
a {
  font-family: var(--font-text);
}

/* Layout principal */
main {
  padding: 120px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;
}